.top-sect{
    background-color: #251749;
}

.main-cont{
    display: flex;
    flex-wrap: nowrap;
}
.side-nav{
    height: 100vh;
    background-color: #263159;
}

.middle-form{
    height: 100vh;
    background-color: #495579;
}

.profile-panel{
    height: 100vh;
    background-color: #263159;
}